
@font-face {
    font-family: "YoungSerif-Regular";
    src: url("/recipe-page-main/assets/fonts/young-serif/YoungSerif-Regular.ttf") format(truetype);
}
@font-face {
    font-family: "Outfit";
    src: url("/recipe-page-main/assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format(truetype);
}
body{
    margin: 0;
    font-family: "Outfit";
    background-color: #fed;
    color:#444;
}
.container{
    background-color: #fff;
    margin: auto;
}
.preview{
    max-width: 100%;
}
h1{
    font-family: "YoungSerif-Regular";
    font-weight: 100;
    color: #000;
    margin-left: 2rem;
}
.description--recipe{
    width: 18rem;
    margin-left: 2rem;
    text-align: justify;
    color: #444;
}
.subtitle{
    font-family: "YoungSerif-Regular";
    font-weight: 100;
    color: #772E0C;
    margin-left: 2rem;
    margin-bottom: 0;
}
.time{
    background-color: #fff1f1;
    max-width: 15rem;
    border-radius: 10px;
    margin: auto;
    padding: 0.5rem;
}

.time--title{
    margin-left: 1rem;
    color: #AC642C;
}


.time--li{
    margin-top: 1rem;
    color: #AC642C;
}
.ingredients{
    margin-top: 1rem;
    margin-left: 2rem;
    color: #772E0C;
}
.instruction{
    width: 17rem;
    margin-left: 2rem;
    color:#772E0C;
    margin-top: 1rem;
}
span{
    text-wrap:initial;
    color: #444;
    margin-left: 0.7rem;
}
p{
    margin-left: 2rem;
    width: 19rem;
}
table{
    margin: auto;
    width: 80%;
}
tr{
    border-bottom: #aaa 0.01rem solid;
    padding: 0.3rem;
    width: 100%;
    display: inline-table;
}
tr:last-child{
    border-bottom: 0;
}
th{
    width: 9rem;
    font-weight: 400;
    padding: 0.3rem;
}
td{
    font-weight: 700;
    color:#772E0C ;
    padding: 0.3rem;
}
@media (min-width: 768px){
    body{
        margin: 0;
    }
    h1{
        margin-bottom: 0;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .preview{
        margin: auto;
        width: 80%;
        border-radius: 1rem;
    }
    .time{
        margin: 0;
        margin-left: 2rem;
        max-width: 80%;
    }
    p{
        min-width: 80%;
    }
    .instruction{
        width: 80%;
    }
    tr{

    }
    th{
        width: 20rem;
        text-align: start;
    }
    td{
    }
}
@media (min-width:1024px) {
    body{
        margin: 10rem;
    }
    .container{
        padding-top: 5rem;
        border-radius: 3rem;
    }
}
